<a href="https://colab.research.google.com/github/Aabderahim/myUseCases/blob/main/Copie_de_Python_Livestream_Pandas_Demo_20210926.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
jeopardy = pd.read_csv('JEOPARDY_CSV.csv')

In [ ]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [ ]:
jeopardy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1    Air Date    216930 non-null  object
 2    Round       216930 non-null  object
 3    Category    216930 non-null  object
 4    Value       216930 non-null  object
 5    Question    216930 non-null  object
 6    Answer      216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB

In [ ]:
jeopardy.columns = [col.replace(' ','') for col in jeopardy.columns] # list comprehension

In [ ]:
jeopardy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ShowNumber  216930 non-null  int64
 1   AirDate     216930 non-null  object
 2   Round       216930 non-null  object
 3   Category    216930 non-null  object
 4   Value       216930 non-null  object
 5   Question    216930 non-null  object
 6   Answer      216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB

In [ ]:
categories = list(jeopardy.Category.value_counts().index[:100])

In [ ]:
categories

['BEFORE & AFTER',
 'SCIENCE',
 'LITERATURE',
 'AMERICAN HISTORY',
 'POTPOURRI',
 'WORLD HISTORY',
 'WORD ORIGINS',
 'COLLEGES & UNIVERSITIES',
 'HISTORY',
 'SPORTS',
 'U.S. CITIES',
 'WORLD GEOGRAPHY',
 'BODIES OF WATER',
 'ANIMALS',
 'STATE CAPITALS',
 'BUSINESS & INDUSTRY',
 'ISLANDS',
 'WORLD CAPITALS',
 'U.S. GEOGRAPHY',
 'RELIGION',
 'OPERA',
 'SHAKESPEARE',
 'LANGUAGES',
 'BALLET',
 'TELEVISION',
 'FICTIONAL CHARACTERS',
 'TRANSPORTATION',
 'PEOPLE',
 'RHYME TIME',
 'STUPID ANSWERS',
 'ART & ARTISTS',
 'THE BIBLE',
 'ART',
 'BOOKS & AUTHORS',
 'U.S. HISTORY',
 'FOOD',
 'MUSEUMS',
 'SCIENCE & NATURE',
 'AMERICANA',
 'COMMON BONDS',
 'GEOGRAPHY',
 'HOLIDAYS & OBSERVANCES',
 '3-LETTER WORDS',
 'ANNUAL EVENTS',
 'AMERICAN LITERATURE',
 'CLASSICAL MUSIC',
 'AUTHORS',
 'POP MUSIC',
 'POETS & POETRY',
 'QUOTATIONS',
 'HODGEPODGE',
 'MYTHOLOGY',
 'NONFICTION',
 'THE MOVIES',
 'WORLD CITIES',
 'MUSICAL INSTRUMENTS',
 'AROUND THE WORLD',
 'THE CIVIL WAR',
 'MUSIC',
 'U.S. PRESIDENTS',
 'COMPOSERS',
 'ASTRONOMY',
 'FOOD & DRINK',
 '4-LETTER WORDS',
 'BIOLOGY',
 'HISTORIC NAMES',
 'MOUNTAINS',
 'POTENT POTABLES',
 'HOMOPHONES',
 'EUROPEAN HISTORY',
 'MEDICINE',
 'EXPLORERS',
 'ORGANIZATIONS',
 'SCIENTISTS',
 'ARCHITECTURE',
 'WEIGHTS & MEASURES',
 'FIRST LADIES',
 'TRAVEL & TOURISM',
 'FRUITS & VEGETABLES',
 'THE BODY HUMAN',
 'MAGAZINES',
 'IN THE DICTIONARY',
 'FAMOUS AMERICANS',
 'AWARDS',
 'ZOOLOGY',
 'NATURE',
 'FOREIGN WORDS & PHRASES',
 'VOCABULARY',
 'FASHION',
 'THEATRE',
 '#NAME?',
 'CHEMISTRY',
 '19th CENTURY AMERICA',
 '5-LETTER WORDS',
 'GOVERNMENT & POLITICS',
 'WORLD LEADERS',
 'PHYSICS',
 'ABBREV.',
 'U.S. STATES',
 'NOTABLE NAMES']

In [ ]:
writer = pd.ExcelWriter('jeopardy.xlsx') # creates staging area where you can add sheets to a file
for c in categories: # loops through top 100 categories
    sheet_name = c.replace('#','').replace('?','') # cleans up the sheet name
    jeopardy[jeopardy.Category==c].to_excel(writer,sheet_name[:50]) # filters questions for each topic and saves them
writer.save() # creates the file after all the sheets have been added